### Series

In [1]:
import numpy as np
import pandas as pd

In [3]:
a=[1,2,4,5]
b=np.arange(4)
c={'a':10,'b':34,'c':21,'d':32}
d=['a','b','c','d']

In [4]:
pd.Series(a)

0    1
1    2
2    4
3    5
dtype: int64

In [9]:
e=pd.Series(a, d)
e

a    1
b    2
c    4
d    5
dtype: int64

In [10]:
e['a']

1

In [7]:
pd.Series(c)

a    10
b    34
c    21
d    32
dtype: int64

### DataFrames

In [11]:
 from numpy.random import randn

In [12]:
np.random.seed(101)

In [17]:
df= pd.DataFrame(randn(5,5),['a','b','c','d','e'], ['A','B','C','D','E'])
df

          A         B         C         D         E
a  0.484752 -0.116773  1.901755  0.238127  1.996652
b -0.993263  0.196800 -1.136645  0.000366  1.025984
c -0.156598 -0.031579  0.649826  2.154846 -0.610259
d -0.755325 -0.346419  0.147027 -0.479448  0.558769
e  1.024810 -0.925874  1.862864 -1.133817  0.610478

In [22]:
df[['A','B']]

          A         B
a  0.484752 -0.116773
b -0.993263  0.196800
c -0.156598 -0.031579
d -0.755325 -0.346419
e  1.024810 -0.925874

In [24]:
df

          A         B         C         D         E
a  0.484752 -0.116773  1.901755  0.238127  1.996652
b -0.993263  0.196800 -1.136645  0.000366  1.025984
c -0.156598 -0.031579  0.649826  2.154846 -0.610259
d -0.755325 -0.346419  0.147027 -0.479448  0.558769
e  1.024810 -0.925874  1.862864 -1.133817  0.610478

#### Column wise selection

### Axis =0 (row wise)
### Axis=1 (Column wise)

In [26]:
df.drop('E', axis=1, inplace= True)
df

          A         B         C         D
a  0.484752 -0.116773  1.901755  0.238127
b -0.993263  0.196800 -1.136645  0.000366
c -0.156598 -0.031579  0.649826  2.154846
d -0.755325 -0.346419  0.147027 -0.479448
e  1.024810 -0.925874  1.862864 -1.133817

In [ ]:
df.drop('e', axis=0, inplace= True)

In [30]:
df

          A         B         C         D
a  0.484752 -0.116773  1.901755  0.238127
b -0.993263  0.196800 -1.136645  0.000366
c -0.156598 -0.031579  0.649826  2.154846
d -0.755325 -0.346419  0.147027 -0.479448

#### Row-wise selection

In [31]:
df.loc['a']

A    0.484752
B   -0.116773
C    1.901755
D    0.238127
Name: a, dtype: float64

In [32]:
df.iloc[0]

A    0.484752
B   -0.116773
C    1.901755
D    0.238127
Name: a, dtype: float64

In [34]:
df.loc['a', 'A']

0.48475164718163294

In [36]:
df

          A         B         C         D
a  0.484752 -0.116773  1.901755  0.238127
b -0.993263  0.196800 -1.136645  0.000366
c -0.156598 -0.031579  0.649826  2.154846
d -0.755325 -0.346419  0.147027 -0.479448

In [39]:
df.loc[['a', 'b'] ,['A','B']]

          A         B
a  0.484752 -0.116773
b -0.993263  0.196800